body { background: #fff; color: #333; margin: 0; font: 400 14px/1.61 'Open Sans', sans-serif;}

a:focus { outline:dotted thin }
a:active, a:hover { color:#c00; outline:0 }

ul { margin: 1em 0; padding: 0 0 0 20px; }

header, footer, .container { max-width: 45em; margin: 0 auto; }

header { padding: 0 0.5em; color: #c90b0b; }
header img { border-radius: 40px; float: left; }
header p { font-size:1.5em; padding-left: 4em;}
header span { font-size: 0.8em;}

.hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ccc;
}

.content { padding: 1em; }
li { list-style-type: none; font-size: 1.1em;}
li img { float:left; padding-right: 1em; }
li p { font-size: 0.9em; font-style: italic; }

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
